body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 36px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

.game-card {
  background: #1f2a44;
  padding: 20px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}

.game-card h3 {
  margin-bottom: 15px;
}

.game-card a {
  display: inline-block;
  padding: 10px 15px;
  background: #00c6ff;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.game-card a:hover {
  background: #00ffcc;
}.game-card {
  cursor: pointer;
  transition: transform 0.3s;
}

.game-card:hover {
  transform: translateY(-10px);
}
.game-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}
